gunicorn
flask
langchain
pydantic
langchain_core
concurrent-log-handler
pypandoc
pandas
openpyxl
xlsx2html
python-pptx
python-docx
docxtpl
pypdf
pdfplumber
reportlab
Pillow
xlsxwriter
markdown
requests
